<template>
  <section>
    <v-navigation-drawer
      value="true"
      style="height:100vh"
      fixed
      app>
      <v-list-item>
        <a href="#willkommen">HEIM</a>
      </v-list-item>
      <v-list-item>
        <a href="#portfolio">PORTFOLIO</a>
      </v-list-item>
      <v-list-item>
        <a href="#preise">PREISE</a>
      </v-list-item>
      <v-list-item>
        <a href="#faqs">FAQS</a>
      </v-list-item>
    </v-navigation-drawer>
    <v-content>
      <v-container id="willkommen">
        <h1>Willkommen</h1>
      </v-container>
      <v-divider></v-divider>
      <v-container id="portfolio">
        <h1>Portfolio</h1>
      </v-container>
      <v-divider></v-divider>
      <v-container id="preise">
        <h1>Preise</h1>
      </v-container>
      <v-divider></v-divider>
      <v-container id="faqs">
        <v-row><v-subheader>Faqs</v-subheader></v-row>
        <v-row>
          <v-expansion-panels>
            <v-expansion-panel>
              <v-expansion-panel-header>
                Wieso du?
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                Weil ich echt gut bin in dem was ich tue.
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>
                Was kostet?
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                Zirka 350€.
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </v-container>
    </v-content>
  </section>
</template>

<script>

export default {
  data() { return { drawer: true } },
  components: {
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
